body{
background-color: #303030;
color: #ffffff;
}

#container{
font-family: 'Noto Sans SC', sans-serif;
width: 1000px;
margin-left: auto;
margin-right: auto;
}

#rectangle{
width: 960px;
margin: 0px 20px 20px 20px;
padding: 0px 20px 10px 20px;
text-align: center;
}

h1{
color: #ff6525;
font-size: 68px;
}

h3{
font-size: 30px;
}

#formdiv{
width: 960px;
text-align: center;
margin-bottom: 40px;
margin-right: 20px;
margin-left: 20px;
background-color: #e2e2e2;
border-radius: 15px;
color: #202020;
}

.row{
margin: 20px 20px 20px 75px;
float: left;
}

.row2{
margin-bottom: 20px;
}

input{
width: 90px;
}

.label{
word-spacing: 10px;
}

.labelradio{
word-spacing: 5px;
}

.inputradio{
width: 20px;
}

#buttondiv{
padding-bottom: 20px;
}

#button{
font-family: 'Noto Sans SC', sans-serif;
background-color: #ff6525;
border-radius: 10px;
cursor: pointer;
}

#button:hover{
background-color: #dc4c36;
}

#footer{
width: 1000px;
}

img{
width: 960px;
margin-left: 20px;
height: 135px;
}

