body{
    background-color: #303030;
}

#container{
    font-family: 'Noto Sans SC', sans-serif;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

td, th{
    padding: 10px;
    text-align: center;
    background-color: #e2e2e2;
}

th{
    background-color: #97fa78;
}

table{
    border-collapse: collapse;
    margin: auto;
}

.row{
    margin: 15px 0px 15px 0px;
    padding: 15px 0px 15px 0px;
}

.square{
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}

#square2{
    width: 460px;
    background-color: #e2e2e2;
    border-radius: 15px;
    color: #202020;
    margin: auto;
}

#square3{
    width: 400px;
    margin: auto;
}

.inner_square1{
    float: left;
    background-color: #ff6525;
    width: 150px;
    height: 150px;
    margin: 20px;
    padding-top: 15px;
    border-radius: 15px;
    color: #202020;
}

.inner_square1:hover{
    background-color: #dc4c36;
}

.inner_square2{
    float: left;
    background-color: #ffa608;
    width: 150px;
    height: 150px;
    margin: 20px;
    padding-top: 15px;
    border-radius: 15px;
    color: #202020;
}

.inner_square2:hover{
    background-color: #ff8108;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: auto;
}

h3{
    color: #97fa78;
    font-size: 30px;
}

a.tilelink{
    color: #303030;
    text-decoration: none;
    display: block;
}


