<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rice with strawberries</title>
    <link rel="stylesheet" href="/css/recipe_template.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap" rel="stylesheet">

<!--    https://www.kwestiasmaku.com/przepis/ryz-z-truskawkami-->

</head>
<body>
<div id="container">
    <div class="rectangle">
        <h2>Rice with strawberries</h2>
    </div>
    <div class="square">
        <table>
            <thead>
            <tr style="border: 0px;">
                <th>Ingredients</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>25 g of butter</td></tr>
            <tr><td>1 liter of milk</td></tr>
            <tr><td>100 g short grain round rice</td></tr>
            <tr><td>1/2 cup of black olives</td></tr>
            <tr><td>a small pinch of salt</td></tr>
            <tr><td>1 tablespoon of vanilla sugar</td></tr>
            <tr><td>2 tablespoons of sugar</td></tr>
            <tr><td>approx. 300 g of strawberries + 2 tablespoons of sugar</td></tr>
            </tbody>
        </table>
    </div>
    <div class="square">
        <h4>Preparation</h4>
        <p>
            &#10142; In a wide pot, melt the butter. Add milk, rice and salt.</br>
            &#10142; Bring to a boil, reduce the heat and cook uncovered over low heat for about 40 minutes, stirring frequently with a wooden spoon.</br>
            &#10142; At the very end, add the vanilla sugar and sugar and stir until dissolved.</br>
            &#10142; Wash the strawberries, cut off the stalks, cut them into pieces, then mash them with a fork with added sugar.</br>
            &#10142; Place the rice in bowls and pour over the strawberry sauce.
        </p>
    </div>
    <div style="clear: both;"></div>
    <div class="rectangle">
        <img src="https://www.kwestiasmaku.com/sites/v123.kwestiasmaku.com/files/ryz_z_truskawkami.jpg">
    </div>
</div>
</body>
</html>