<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pasta with chicken, zucchini, feta cheese and sun dried tomatoes</title>
    <link rel="stylesheet" href="/css/recipe_template.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap" rel="stylesheet">

<!--    https://www.kwestiasmaku.com/przepis/makaron-z-kurczakiem-cukinia-feta-i-suszonymi-pomidorami-->

</head>
<body>
<div id="container">
    <div class="rectangle">
        <h2>Pasta with chicken, zucchini, feta cheese and sun dried tomatoes</h2>
    </div>
    <div class="square">
        <table>
            <thead>
            <tr style="border: 0px;">
                <th>Ingredients</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>160 g of pasta</td></tr>
            <tr><td>1 single chicken fillet</td></tr>
            <tr><td>2 cloves of garlic</td></tr>
            <tr><td>1 teaspoon of dried oregano</td></tr>
            <tr><td>2 tablespoons of extra virgin olive oil</td></tr>
            <tr><td>1 small zucchini (about 250 g)</td></tr>
            <tr><td>5 pieces of dried tomatoes in olive oil</td></tr>
            <tr><td>100 g of feta cheese</td></tr>
            <tr><td>optional: grated parmesan / grana padano / other long-maturing cheese</td></tr>
            </tbody>
        </table>
    </div>
    <div class="square">
        <h4>Preparation</h4>
        <p>
            &#10142; Set salted water to cook the pasta. </br>
            &#10142; Dice the chicken fillet and season with salt, pepper, grated garlic, and oregano. Then mix it with 1 tablespoon of olive oil (you can leave it to marinate for a few hours if you have time).</br>
            &#10142; Put the pasta on the boiling water and cook until al dente.</br>
            &#10142; Heat a larger frying pan, pour in the remaining tablespoon of olive oil and put in the chicken. Fry for 1 - 2 minutes while stirring.</br>
            &#10142; Add the zucchini, cut into small cubes. Fry, stirring every now and then, for about 2 - 3 minutes, until the zucchini is tender.</br>
            &#10142; Finally, add the chopped sun-dried tomatoes and 2 tablespoons of olive oil from the jar. Season with freshly ground pepper.</br>
            &#10142; Put the drained pasta into the pan and stir it all the time, heating it up.</br>
            &#10142; Add diced feta cheese and mix. Heat up for a while and put away from heat. Can be served with Parmesan cheese.
        </p>
    </div>
    <div style="clear: both;"></div>
    <div class="rectangle">
        <img src="https://www.kwestiasmaku.com/sites/v123.kwestiasmaku.com/files/makaron_z_kurczakiem_cukinia_feta.jpg">
    </div>
</div>
</body>
</html>