<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greek salad</title>
    <link rel="stylesheet" href="/css/recipe_template.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap" rel="stylesheet">

<!--    https://www.kwestiasmaku.com/dania_dla_dwojga/salatka_grecka/przepis.html-->

</head>
<body>
<div id="container">
    <div class="rectangle">
        <h2>Greek salad</h2>
    </div>
    <div class="square">
        <table>
            <thead>
            <tr style="border: 0px;">
                <th>Ingredients</th>
            </tr>
            </thead>
            <tbody>
            <tr><td>2 tomatoes</td></tr>
            <tr><td>4 ground cucumbers or 2 greenhouse cucumbers</td></tr>
            <tr><td>1/2 red onion</td></tr>
            <tr><td>1/2 cup of black olives</td></tr>
            <tr><td>250 g of the original, Greek feta cheese</td></tr>
            <tr><td>4 teaspoons of dried oregano</td></tr>
            <tr><td>4 tablespoons of extra virgin olive oil</td></tr>
            <tr><td>freshly ground pepper</td></tr>
            </tbody>
        </table>
    </div>
    <div class="square">
        <h4>Preparation</h4>
        <p>
            &#10142; Cut the tomatoes into quarters, remove the stalks, then cut them into even smaller pieces.</br>
            &#10142; Peel the cucumbers (you can leave stripes of green peel in places), cut lengthwise in half and then into thicker half-slices.</br>
            &#10142; Slice the onion thinly. Cut the olives into halves.</br>
            &#10142; Place all ingredients in one large bowl or in 4 smaller bowls, season with freshly ground pepper.</br>
            &#10142; Put the slices of feta cheese on top. Sprinkle with dried oregano and pour olive oil. You can season with salt, but the feta cheese is already quite salty.
        </p>
    </div>
    <div style="clear: both;"></div>
    <div class="rectangle">
        <img src="https://www.kwestiasmaku.com/sites/v123.kwestiasmaku.com/files/salatka_grecka_0.jpg">
    </div>
</div>
</body>
</html>