<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" href="css/solution_kcal.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<div id="container">
    <div class="square">
        <h3>Your result</h3>
        <div class="square2">
            <div class="row"><label>Daily energy requirements to maintain a given weight is:</label></div>
            <div class="row"><strong th:text="${kcal.solution}"></strong>
                <label> kcal</label></div>
            <div class="row"><a th:href="@{/kcal}">Go back to Caloric demand calculator</a></div>
        </div>
    </div>
    <div class="square">
        <div class="square2">
                <h4>What is caloric requirement?</h4>
            <div id="row2">
                <p>
                <br>
                    The body's caloric requirement is the total energy expenditure during the day, which consists of:</br></br>
                    &#10142; basal metabolism rate (BMR) - the daily amount of calories needed to maintain basic life functions,</br>
                    &#10142; thermogenesis,</br>
                    &#10142; physical activity.
                </p>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="square">
        <div id="square3">
            <div class="inner_square1">
                <a class="tilelink" th:href="@{/bmi}" target="_blank">
                    <i class="fas fa-calculator" style="font-size:50px"></i></br></br><b>BMI calculator</b>
                </a>
            </div>
            <div class="inner_square2">
                <a class="tilelink" th:href="@{/recipes}" target="_blank">
                    <i class="fas fa-utensils" style="font-size:50px"></i></br></br><b>Check out some recipes</b>
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="square">
        <img src="https://www.washingtonpost.com/resizer/GMRbYY9AV8dsJbP8CQDrMpQxBzc=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/XIPKBRXEEQI6PET244XKYHTTWY.jpg">
    </div>
    <div style="clear: both;"></div>
</div>
</body>
</html>